.leftControls{
    animation: slideInLeft 0.5s ease-in-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }   
}

.bottomControl{
    animation: slideInBottom 0.4s ease-in-out forwards;
}

@keyframes slideInBottom {
    from {
        transform: translate(-50%, 150%);
    }
    to {
        transform: translate(-50%, 0);
    }   
}

nav{
    animation: slideInTop 0.5s ease-in-out;
}

@keyframes slideInTop {
    from {
        transform: translateY(-150%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }   
}

.heightSetter{
    animation: slideInRight 0.4s ease-in-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }   
}

.search{
    animation: slideInBottom 0.4s ease-in-out forwards;
}